 <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Uptimeer</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="contact-us.html"><i class="material-icons" style="font-size: 26px;">trending_up</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Uptimes</h2>
                </div>
                <form>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-center card-title">SERVER</h4>
                            <p class="card-text" style="padding: 2px;margin: 18px;">Nullam id dolor id nibh ultricies vehicula ut id elit. SERVER DESCRIPTION dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <div class="text-center"><span class="text-center"><i class="fa fa-stop" data-bs-hover-animate="jello" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(255,0,0);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(255,0,0);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(255,0,0);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i><i class="fa fa-stop" style="color: rgb(0,255,56);"></i></span></div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="clean-block clean-form dark">
            <div class="container"></div>
        </section>
        <section class="clean-block clean-form dark">
            <div class="container"></div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2020 Copyright Brand</p>
        </div>
    </footer>